<!DOCTYPE html>
<html ng-app='myApp'>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Example9</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" ng-controller="controllerOne">
        <h2>Sharing Models between Nested Controllers</h2>
        <hr/>
        <label>Primitive</label>
        <input type="text" ng-model="name">
        <label>Object</label>
        <input type="text" ng-model="user.name">
        <div class="nested" ng-controller="NestedController">
            <label>Primitive</label>
            <input type="text" ng-model="name">
            <label>Primitive with explicit $parent reference</label>
            <input type="text" ng-model="$parent.name">
            <label>Object</label>
            <input type="text" ng-model="user.name">
        </div>
    </div>
    <script type="text/javascript">
    var app = angular.module('myApp', []);
    app.controller('controllerOne', ['$scope', function($scope) {
        $scope.name = "Sai";
        $scope.user = {
            name: 'Kiran'
        };

    }]);
    app.controller('NestedController', ['$scope', function($scope) {

    }]);
    </script>
</body>

</html>
